<div>
    <div class="mb-3">
        <h4>Identificação do veiculo</h4>
        <form class="form-floating">
            <input type="text" class="form-control" id="placa" placeholder="XXX-1234" value="XXX-1234 OU XXX-1X34">
            <label for="floatingInputValue">PLACA</label>
        </form>

        <form class="form-floating">
            <input type="text" class="form-control" id="marca" placeholder="SUZUKY" value="SUZUKY">
            <label for="floatingInputValue">MARCA</label>
        </form>

        <form class="form-floating">
            <input type="text" class="form-control" id="especie" placeholder="PASSAGEIRO/CARGA/MISTO" value="PASSAGEIRO/CARGA/MISTO">
            <label for="floatingInputValue">ESPECIE</label>
        </form>
    </div>
    <div class="mb-3">
        <h4>Identificação do infrator</h4>
        <form class="form-floating">
            <input type="text" class="form-control" id="nome" placeholder="NOME">
            <label for="floatingInputValue">NOME</label>
        </form>

        <form class="form-floating">
            <input type="text" class="form-control" id="cnh" placeholder="CNH/PERMISSÃO">
            <label for="floatingInputValue">CNH/PERMISSÃO</label>
        </form>

        <form class="form-floating">
            <input type="text" class="form-control" id="cpf" placeholder="CPF">
            <label for="floatingInputValue">CPF</label>
        </form>

        <form class="form-floating">
            <input type="text" class="form-control" id="uf" placeholder="UF">
            <label for="floatingInputValue">UF</label>
        </form>
    </div>  

    <div class="mb-3">

        <h4>Identificação do local de infracao</h4>
        <form class="form-floating">
            <input type="text" class="form-control" id="logradouro" placeholder="LOGRADOURO">
            <label for="floatingInputValue">LOGRADOURO</label>
        </form>

        <form class="form-floating">
            <input type="text" class="form-control" id="referencia" placeholder="PONTO DE REFERÊNCIA">
            <label for="floatingInputValue">PONTO DE REFERÊNCIA</label>
        </form>
    </div>  
    <div class="mb-3">
        <h4>Identificação da infracao</h4>
        <form class="form-floating">
            <input type="text" class="form-control" id="codigo" placeholder="CÓDIGO DA INFRAÇÃO">
            <label for="floatingInputValue">CÓDIGO DA INFRAÇÃO</label>
        </form>

        <form class="form-floating">
            <input type="text" class="form-control" id="infracao" placeholder="INFRAÇÃO">
            <label for="floatingInputValue">INFRAÇÃO</label>
        </form>
        <div class="row g-2">
            <h4>Identificação do agente</h4>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" placeholder="CODIGO">
                <label for="floatingInputGrid">CODIGO</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                  <option selected>AGENTE</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <label for="floatingSelectGrid">Selecione o agente</label>
              </div>
            </div>
          </div>
          <br>
        <button type="button" class="btn btn-primary">ENVIAR</button>
        <button type="button" class="btn btn-secondary">LIMPAR</button>
        <button type="button" class="btn btn-success">Success</button> 
    </div> 
   
</div>