<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  navbar navbar-light border-bottom shadow-sm" style="background-color: #e3f2fd;">
  <h5 class="my-0 mr-md-auto font-weight-normal">TRÂNSITO</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a [routerLink]="[ 'inicio' ]" class="p-2 text-dark" href="#">INICIO</a>
    <a [routerLink]="[ 'pesquisa' ]" class="p-2 text-dark" href="#">PESQUISA</a>
  </nav>
  
</div>



<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Serviços Internos</h5>
    <span class="text-muted">Relatorio de serviço e notificação</span>
    <a [routerLink]="[ 'home' ]" class="nav-link" href="#">HOME</a>
    <a [routerLink]="[ 'inicio' ]" class="nav-link" href="#">INICIO</a>
    <a [routerLink]="[ 'novo' ]" class="nav-link" href="#">NOVO</a>
    <a [routerLink]="[ 'pesquisa' ]" class="nav-link" href="#">PESQUISA</a>
    <a [routerLink]="[ 'notificar' ]" class="nav-link" href="#">NOTIFICAR</a>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
    
    

